<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Page</title>
</head>
<body>
  <h1><%= message %></h1>
  <a target="_blank" href="http://localhost:3000/user-form?identifier=27uhxsaxasaasbcjajsc"> error TRY :27uhxsaxasaasbcjajsc </a> <br>
  <a target="_blank" href="http://localhost:3000/user-form?patient_identifier=sadiojk2d21211222"> TRY : sadiojk2d21211222</a> <br>
  <a target="_blank" href="http://localhost:3000/user-form?patient_identifier=2eihmkqwdas"> TRY : 2eihmkqwdas </a> <br>
  <a target="_blank" href="http://localhost:3000/user-form?patient_identifier=658d842f88260c6f617e0d4c"> -------- TRY : 658d842f88260c6f617e0d4c</a> <br>
  <a target="_blank" href="http://localhost:3000/user-form?patient_identifier=658d842f88260c6f617e0d42"> -- fake url TRY : 658d842f88260c6f617e0d4c </a> <br>
  <a target="_blank" href="http://localhost:3000/user-form?patient_identifier=658d842f88260c6f617e0501"> -- try run for DELIA </a> <br>


  
</body>
</html>
